nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 70px;
  font-family: "Rubik", sans-serif;

  background: var(--light);
}

.logo img {
  width: 60%;
}

.nav-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  font-size: 18px;
  gap: 4rem;
}

.nav-list li {
  cursor: pointer;
  transition: all 0.2s;
}

.nav-list li:hover {
  opacity: 80%;
}

.nav-buttons {
  margin-left: auto;
  display: flex;
  gap: 14px;
}

.nav-buttons .login-btn {
  width: 150px;
  height: 46px;
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 6px;
  font-size: 18px;
  transition: all 0.4s;
  cursor: pointer;
}

.nav-buttons .login-btn:hover {
  background: var(--orange);
  color: var(--light);
}

.nav-buttons .signup-btn {
  width: 150px;
  height: 46px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background: var(--orange);
  color: var(--light);
  cursor: pointer;
}

.logged-nav:hover,
.logged-nav span:hover,
.logged-nav button:hover {
  background: none;
}
